@page "/fetchquestion/{QuestionIndex:int}"

<PageTitle>Scrum questions</PageTitle>

@using Scrum.Blazor.Data
@inject QuestionService ForecastService
@inject NavigationManager Navigation

@if (question == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@question.Index - @question.Text</h1>
    <table class="table">
        @foreach (var answer in question.Answers)
        {
            <tr>
                <input style="margin: 10px" type="checkbox" id="addition" name="math" @bind="@answer.IsUserSelected" />
                <input style="margin: 10px" hidden=@hideAnswers disabled=@true type="checkbox" @bind="@answer.IsSelected" />

                <span style="color: @GetAnswerColor(answer);margin: 10px">@answer.Text</span>
            </tr>
        }
    </table>
    
    <button class="btn btn-primary" @onclick="@(async () => await Validate())">Validate</button>
    <p></p>
    <button class="btn btn-primary" @onclick="@(async () => await ToNextQuestion())">Next question</button>
}

@code {

    [Parameter]
    public int QuestionIndex { get; set; }

    private Question? question;

    private bool hideAnswers = true;

    protected override async Task OnInitializedAsync()
    {
        question = await ForecastService.GetQuestion(QuestionIndex);
    }

    protected async Task Validate()
    {
        hideAnswers = false;
        // Note that the following line is necessary because otherwise
        // Blazor would not recognize the state change and not refresh the UI
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    protected async Task ToNextQuestion()
    {
        QuestionIndex++;
        Navigation.NavigateTo($"/fetchquestion/{QuestionIndex}");

        question = await ForecastService.GetQuestion(QuestionIndex);
        hideAnswers = true;

        // Note that the following line is necessary because otherwise
        // Blazor would not recognize the state change and not refresh the UI
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    string GetAnswerColor(Answer answer)
    {
        if(hideAnswers)
            return "black";

        if(answer.IsSelected != @answer.IsUserSelected)
            return "red";

        if (answer.IsSelected && @answer.IsUserSelected)
            return "green";

        return "black";
    }
}
